

<mat-drawer-container class="example-container">
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p><a routerLink="About">
      <button mat-button color="primary">About</button>
    </a></p><hr>
    <p><a routerLink="Festivals">
      <button mat-button color="primary">Experience</button>
    </a></p> <hr> 
    <p><a routerLink="Members">
      <button mat-button color="primary">Education</button>
    </a></p><hr>
    <p><a routerLink="Members">
      <button mat-button color="primary">Projects</button>
    </a></p><hr>
    <p><a routerLink="Members">
      <button mat-button color="primary">Resume</button>
    </a></p><hr>
    <p><a routerLink="ContactUs">
      <button mat-button color="primary">Contact</button>
    </a></p>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
    </button>
    <p class="header">
      <mat-toolbar class="header">
        <h1>
          <img src="https://static.pexels.com/photos/45201/kitty-cat-kitten-pet-45201.jpeg" alt="Logo">
          DESI GANESH V
          <!-- <router-outlet></router-outlet> -->
        </h1>
        <h1>Welcome to my website</h1>
        <!-- <router-outlet></router-outlet> -->
      </mat-toolbar>
      <!-- <router-outlet></router-outlet> -->
    
    </p>
    <!-- <div class="content">
      <router-outlet></router-outlet>
    </div> -->
  </div>
  <p>
    <!-- <router-outlet></router-outlet> -->
  </p>
    <!-- <router-outlet></router-outlet> -->
  
  <h1 style="color: black;">Welcome to my website</h1>
  <h1 style="color: red;"><router-outlet></router-outlet>
  </h1>
  <button>About</button>
  <!-- <app-header><router-outlet></router-outlet></app-header> -->
  <!-- <router-outlet></router-outlet> -->
</mat-drawer-container>
<!-- <div class="content">
  <router-outlet></router-outlet>
</div> -->
<!-- <h1>Welcome to my website</h1> -->
















































<!-- <p> -->
  <!-- <mat-toolbar color="primary"> -->
    
   <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    
    <mat-icon>menu</mat-icon>
  </button> -->
  <!-- <h1>
    <img src="https://static.pexels.com/photos/45201/kitty-cat-kitten-pet-45201.jpeg" alt="Logo">
    DESI GANESH V
  </h1> -->
  <!-- <span>My App</span> -->
  <!-- <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button> -->
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
   
 </button>  -->
 <!-- <p style="padding-left: 50%;">
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <mat-button-toggle value="bold">Bold</mat-button-toggle>
    <mat-button-toggle value="italic">Italic</mat-button-toggle>
    <mat-button-toggle value="underline">Underline</mat-button-toggle>
  </mat-button-toggle-group>
</p> -->
<!-- <mat-tab-group>
  <mat-tab label="First"> Content 1 </mat-tab>
  <mat-tab label="Second"> Content 2 </mat-tab>
  <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group> -->
<!-- <section>
  <span class="example-spacer">
  <a routerLink="Home">
    <button mat-raised-button  color="accent">Home</button>
  </a>
  <a routerLink="Festivals">
    <button mat-raised-button  color="accent">Festivals</button>
  </a> 
  <a routerLink="Members">
    <button mat-raised-button  color="accent">Trust Members</button>
  </a>
  <a routerLink="ContactUs">
    <button mat-raised-button  color="accent">Contact</button>
  </a>
</span>
</section> -->





<!-- </mat-toolbar>
</p> -->


<!-- <p class="header">
  <mat-toolbar color="primary" class="header">
    <img src="https://static.pexels.com/photos/45201/kitty-cat-kitten-pet-45201.jpeg" alt="Image"/>
    <span class="title">NDVD TEMPLE</span><br>
    <span class="example-spacer"></span>
      <a routerLink="Home">
        <button mat-raised-button  color="accent">Home</button>
      </a>
      <a routerLink="Festivals">
        <button mat-raised-button  color="accent">Festivals</button>
      </a> 
      <a routerLink="Members">
        <button mat-raised-button  color="accent">Trust Members</button>
      </a>
      <a routerLink="ContactUs">
        <button mat-raised-button  color="accent">Contact</button>
      </a>
  </mat-toolbar>
</p> -->



<router-outlet></router-outlet>